app = "credentis-portal"
primary_region = "jnb"

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"
  PORT = "5000"
  NEXT_PUBLIC_ISSUER_API_URL = "http://credentis-api.internal:3000"
  NEXT_PUBLIC_WALLET_UI_URL = "https://credentis-wallet.fly.dev"
  NEXT_PUBLIC_VC_REPOSITORY_URL = "http://credentis-api.internal:3000"

[[services]]
  internal_port = 5000
  protocol = "tcp"
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
