app = "credentis-wallet"
primary_region = "jnb"

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"
  PORT = "4000"
  NUXT_PUBLIC_WALLET_BACKEND_URL = "http://credentis-api.internal:6000"
  NUXT_PUBLIC_FINANCE_API_URL = "http://credentis-api.internal:6000"
  NUXT_PUBLIC_CREDENTIALS_REPOSITORY_URL = "http://credentis-api.internal:3000"
  NUXT_PUBLIC_ISSUER_CALLBACK_URL = "https://credentis-api.fly.dev"
  NUXT_PUBLIC_DEV_WALLET_URL = "https://credentis-wallet.fly.dev"

[[services]]
  internal_port = 4000
  protocol = "tcp"
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
